@height: 1600px;
@minwidth: 800px;
@maxwidth: 1600px;
@sidebarwidth: 100px;
@base_fontsize: 47px;

.box-shadow {
    -moz-box-shadow: -2px 2px 46px #888;
    -webkit-box-shadow: -2px 2px 46px #888;
    box-shadow: -2px 2px 46px #888;
}

.box-shadow-subtle {
    -moz-box-shadow: 0 0 17px #888;
    -webkit-box-shadow: 0 0 17px #888;
    box-shadow: 0 0 17px #888;
}

body {
    background: url('img/patterns/goovepaper.png');
    text-align: center;
    font-size: @base_fontsize;
    font-family: "junctionregularRegular", "Helvetica", "Arial", "sans-serif";
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

nav {
    position: fixed;
    width: @sidebarwidth;
    background: url('img/patterns/dark_leather.png');
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .box-shadow;
    height: 100%;
}

div#yournewcookbookapp {
    color: #222;
    &.recipe {
        background: url('img/patterns/lined_paper.png');
        background-attachment: scroll;
        
        & .recipe-description {
            line-height: 1.15em;
            font-size: .95em;

            margin-bottom: 30px;
            padding-top: 3px;
        }

        & .recipe-image {
            height: 149px;
            float: left;
            margin-left: 43px;
            margin-top: 6px;
            .box-shadow;
        }
    }
}

div.container {
    line-height: 1.24em;
    .box-shadow;
    height: 100%;

    div.content {
        overflow: hidden;
        height: 100%;
    }

    h1 {
        font-size: 212%;
        text-align: center;
        line-height: 105%;
        padding-bottom: 4px;
    }
}

div.sidebar {
    margin-left:0;
    margin-right:0;
}
