<script type="text/template" id="recipe-template">
    <div class="recipe-container">
        <div class="display">
            <h1 class="recipe-title"></h1>

            <p class="recipe-description"></p>
            <img class="recipe-image" src="img/recipes/omelette.jpg"/>
        </div>

        <div class="edit">
            <input class="recipe-title-input" type="text" value="" />
            <input class="recipe-description-input" type="text" value="" />
        </div>
    </div>
</script>
